<!-- events page --> 
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-3"> Events</h1>
    <div class="row">
        {% for event in events %}
        <div class="col-md-6 mb-4">
            <div class="card" >
                {% if event.image %}
                <img src="{{ event.image.url }}" class="card-img-top" style="height: 400px; width: 100%; object-fit: contain;" alt="{{ event.name }} - view event details" loading="lazy">
                {% else %}
                <img src="https://via.placeholder.com/150" class="card-img-top" style="height: 400px; width: 100%; object-fit: contain;" alt="Default Image" loading="lazy">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">
                        {% if event.address %}
                        {{ event.address }}<br>
                        {% else %}
                        Location details not available<br>
                        {% endif %}
                        {{ event.city }}, {{ event.state }} {{ event.zip_code }}<br>
                        {% if event.date %}
                            Date: {{ event.date|date:"F j, Y" }}  <!-- Format date and time -->
                        {% else %}
                            Date: Not specified
                        {% endif %}
                    </p>
                    <a href="{% url 'event_details' event.pk %}" class="btn btn-primary">Event Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No events found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
